@model IEnumerable<GamingSite.Models.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeriesCollectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTFirstTeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTFH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TFH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeriesCollectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Map)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTFirstTeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTFH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TFH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTSH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchID })
        </td>
    </tr>
}

</table>
