@model GamingSite.Models.Series

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Series</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TeamOneID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamOneID)
                @Html.ValidationMessageFor(model => model.TeamOneID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamTwoID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamTwoID)
                @Html.ValidationMessageFor(model => model.TeamTwoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchOneID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatchOneID)
                @Html.ValidationMessageFor(model => model.MatchOneID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchTwoID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatchTwoID)
                @Html.ValidationMessageFor(model => model.MatchTwoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchThreeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatchThreeID)
                @Html.ValidationMessageFor(model => model.MatchThreeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchFourID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatchFourID)
                @Html.ValidationMessageFor(model => model.MatchFourID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchFiveID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatchFiveID)
                @Html.ValidationMessageFor(model => model.MatchFiveID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
